.tz_mainmenu {
  width: 65%;
}
div .row-fluid .offset-12 {
  margin-left: -99.94%;
}
#tz-component {
  width: 990px !important;
}
.TzPortfolioMedia img {
  height: auto !important;
  top: 0 !important;
}
body {
  padding-top: 60px;
}
.blog,
.item-page,
.contact,
.TzBlog,
.registration,
.login,
.newsfeed,
.weblink-category,
.TzCategories {
  width: 990px;
  margin: 0 auto;
}
