<html><body>


<div class="table-2">
    <table width="100%">
        <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
        </tr>
        <tr>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
        </tr>
        <tr>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
        </tr>
        <tr>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
            <td>Donec ut massa sed</td>
        </tr>
        <tr>
            <td><strong>Donec ut massa sed</strong></td>
            <td><strong>Donec ut massa sed</strong></td>
            <td><strong>Donec ut massa sed</strong></td>
            <td><strong>Donec ut massa sed</strong></td>
        </tr>
        </tbody>
    </table>
</div>


</body></html>